[Desktop Entry]
Name=Ocular
Comment=Client for displaying stream another computers display.
Exec=ocular
Icon=ocular
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
